<% if user_signed_in? && current_user.commits?(item) %>
	<%= link_to '<span class="glyphicon glyphicon-fire"></span>'.html_safe, item_commit_path(item), method: :delete, remote: true%>
<% else %>
	<%= link_to '<span class="glyphicon glyphicon-fire"></span>'.html_safe, item_commit_path(item), method: :post, remote: true%>
	<% end %>
	
<% item.commits.each do |commit| %>
	<%= image_tag commit.user.avatar, width: 20%>
<% end %>